@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Unikktle.Common
@using Unikktle.Services
@inject IViewLocalizer Localizer
@inject UserSettingService UserSetting
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="キーワード検索 関連キーワード Relation keyword @Context.Session.GetString(SessionKey.UserSearchString)">
    <meta name="description" content="Related keywords to @Context.Session.GetString(SessionKey.UserSearchString)">

    <title>@Context.Session.GetString(SessionKey.HeaderTitile)</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/octicons/build/build.css" asp-append-version="true" />

    @if (UserSetting.BackgroundColor(User, Context.Session) == BackgroundColor.White)
    {
        <environment include="Development">
            <link id="cssfile" rel="stylesheet" href="/css/w.css" asp-append-version="true" />
        </environment>
        <environment exclude="Development">
            <link id="cssfile" rel="stylesheet" href="/css/w.min.css" asp-append-version="true" />
        </environment>
    }
    else
    {
        <environment include="Development">
            <link id="cssfile" rel="stylesheet" href="/css/b.css" asp-append-version="true" />
        </environment>
        <environment exclude="Development">
            <link id="cssfile" rel="stylesheet" href="/css/b.min.css" asp-append-version="true" />
        </environment>
    }

    <partial name="_GoogleAdsPartial" />
</head>

<body>
    <environment include="Development">
        <script src="/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
        @if (UserSetting.BackgroundColor(User, Context.Session) == BackgroundColor.White)
        {
            <script src="/js/Page_ColorW.js" asp-append-version="true"></script>
        }
        else
        {
            <script src="/js/Page_ColorB.js" asp-append-version="true"></script>
        }
        <script src="/js/Page_ClickSearch.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        @if (UserSetting.BackgroundColor(User, Context.Session) == BackgroundColor.White)
        {
            <script src="/js/w.min.js" asp-append-version="true"></script>
        }
        else
        {
            <script src="/js/b.min.js" asp-append-version="true"></script>
        }
        <script src="/js/p.min.js" asp-append-version="true"></script>
        <script src="/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/img/a.png" width="160">
                </a>

                <form asp-controller="Home" asp-action="Search" method="get">
                    <input id="ClickSearchText" type="text" name="s" value="@Context.Session.GetString(SessionKey.UserSearchString)">
                    <input id="ClickSearch" class="btn btn-primary" type="submit" value="Search" />
                </form>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="/Views/Shared/_LoginPartial.cshtml" />
                    @*<ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_LayoutFooterPartial" />

    @RenderSection("Scripts", required: false)

</body>
</html>
