@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*Change password*@
<h3>@Localizer["1"]</h3>

<br>

<p></p>
<partial name="_StatusMessage" for="StatusMessage" />
<div asp-validation-summary="All" class="text-danger"></div>
<p></p>

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="form-group">
                @*Current password*@
                <label>@Localizer["2"]</label>
                <input asp-for="Input.OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                @*New password*@
                <label>@Localizer["3"]</label>
                <input asp-for="Input.NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                @*Confirm new password*@
                <label>@Localizer["4"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            @*Update password*@
            <button type="submit" class="btn btn-primary">@Localizer["5"]</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
