@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ChangePasswordModel
@*
    パスワードを変更する
*@
<h3>@Localizer["1"]</h3>

<br>

<p></p>
<partial name="_StatusMessage" for="StatusMessage" />
<div asp-validation-summary="All" class="text-danger"></div>
<p></p>

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div class="form-group">
                @*
                    現在のパスワード
                *@
                <label>@Localizer["2"]</label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                    新しいパスワード
                *@
                <label>@Localizer["3"]</label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                    新しいパスワードを確認
                *@
                <label>@Localizer["4"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @*
                パスワードを更新する
            *@
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Send1">@Localizer["5"]</button>
            <div class="modal fade" id="Send1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*
                                確認
                            *@
                            <h5 class="modal-title" id="staticBackdropLabel">@Localizer["13"]</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @*
                                プロフィールを更新します。よろしいですか？
                            *@
                            @Localizer["14"]
                        </div>
                        <div class="modal-footer">
                            @*
                                いいえ
                            *@
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["15"]</button>

                            @*
                                はい
                            *@
                            <button id="update-profile-button" type="submit" class="btn btn-primary">@Localizer["16"]</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

