@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="Fx5">


    @*
        Unikktle Mentor とは
    *@
    <h4>@Localizer["1"]</h4>
    @*
        本サービスは心理学の知見を元に制作された、人のメンタルを定量的、定性的に分析し、健康状態のセルフチェックを支援するサービスです。<br>
        個人、チーム、組織毎に、メンタルの健康状態、メンタルの低下、上昇を把握することができますので、メンタルヘルスケアにも活用下さい。<br>
        一緒に仕事をする仲間だけではなく、夫婦も１つのチームとして分析することで、お互いの心理面を知ることが出来ます。<br>
        自分自身のメンタル、相手のメンタルが見えないことで発生するトラブルが、少しでも減ることを願って制作しました。
    *@
    <p>@Localizer["2"]</p>

    <p><br><hr></p>

    @*
        活用方法
    *@
    <h4>@Localizer["9"]</h4>
    @*
        離職、内部不正が起こるまでには、メンタル面での変化も起こるので、個々の診断結果を、過去に離職、内部不正した人と比較することで予防する。<br>
        メンタルによって能力を発揮出来る部署、ポジションもありますので、適材適所を考える際、リーダーに登用する際などには、メンタル面での検討もする。<br>
        社内に有能な人が居て、その人に近い有能な人を採用したい場合、メンタルが近いかも検討する。
    *@
    <p>@Localizer["10"]</p>

    <p><br><hr></p>

    @*
        セキュリティ
    *@
    <h4>@Localizer["3"]</h4>
    @*
        チームの情報は、チームに参加している人のみ閲覧することができます。<br>
        個人の診断結果は、チームに参加しない限り、他の人に見られることはありません。
    *@
    <p>@Localizer["4"]</p>

    <p><br><hr></p>

    @*
        プライバシーポリシー
    *@
    <h4>@Localizer["5"]</h4>
    @*
        Unikktle Mentor が蓄積したデータは、Unikktle Mentor のサービス向上にのみ使用されます。<br>
        個人情報を他社へ提供、販売することはありません。
    *@
    <p>@Localizer["6"]</p>

    <p><br><hr></p>

    @*
        利用規約
    *@
    <h4>@Localizer["7"]</h4>
    @*
        人の心理というセンシティブな内容を含んでいますので、節度を持って本サービスをご利用下さい。<br>
        人のメンタルは常に変化しますので、その時点の結果のみで安易な判断をすることは避けて下さい。<br>
        本サービスを理由するに辺り、万が一、ユーザーに不利益が発生したとしても、当サービスは責任を持つものではありません。
    *@
    <p>@Localizer["8"]</p>

    <p><br><hr></p>

    <p>Copyright © 2020 xxx. All Rights Reserved.</p>

    <p><br></p>

</div>
